{% extends "base.html" %}

{% block content %}
<table class="table">
  <tbody>
    <tr>
      <td>
        <div class="login-container">
          <img id="login-qrcode" src="data:image/png;base64,{{ login_img }}" width="384" height="384">
          <span class="qrcode-label">Host</span>
        </div>
      </td>
      <td>
        <div class="signup-container">
          <img id="signup-qrcode" src="data:image/png;base64,{{ signup_img }}" width="384" height="384">
          <span class="qrcode-label">Room</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}