{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert {{ messages[1] }}">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    {% if current_user.admin == 'X' %}
    <form method="POST" action="{{ url_for('main.createroom') }}">
        <div class="mb-3 mt-3">
            <label for="userid">Administrator:</label>
            <input list="userid" name="userid" required>
            <datalist id="userid">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
            </datalist>
        </div>
        <div class="mb-3">
            <label for="roomid">Room:</label>
            <input type="text" class="form-control" id="roomid" name="roomid" required>
        </div>
        <button type="submit" class="btn btn-outline-primary">Create</button>
    </form>
    {% else %}
    <h3 class="title">
        Must be Administrator!
    </h3>
    {% endif %}
</div>

{% endblock %}