{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert {{ messages[1] }}">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    {% if user.name %}
    <h3 class="title">
        Hello, {{ current_user.name }} !
    </h3>
    {% else %}
    <h3 class="title">
        Login first !
    </h3>
    {% endif %}
</div>
<br>
<div class="container mt-3">

</div>
{% endblock %}