{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert {{ messages[1] }}">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    {% if user.name %}
    <h3 class="title">
        Hello, {{ current_user.name }} !
    </h3>
    {% else %}
    <h3 class="title">
        Login first !
    </h3>
    {% endif %}
</div>
<br>
{% if user.roomadm == "X" %}
<div class="container mt-3">
    <div class="row">
        <div class="col-2">
            <a href="{{ url_for('main.setcommand', command='prev') }}">
                <img src="{{ url_for('static', filename='images/icon-previous.png') }}" height="64" width="64">
            </a>
        </div>
        <div class="col-2">
            <a href="{{ url_for('main.setcommand', command='play') }}">
                <img src="{{ url_for('static', filename='images/icon-play.png') }}" height="64" width="64">
            </a>
        </div>
        <div class="col-2">
            <a href="{{ url_for('main.setcommand', command='pause') }}">
                <img src="{{ url_for('static', filename='images/icon-pause.png') }}" height="64" width="64">
            </a>
        </div>
        <div class="col-2">
            <a href="{{ url_for('main.setcommand', command='next') }}">
                <img src="{{ url_for('static', filename='images/icon-next.png') }}" height="64" width="64">
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}