{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Artist</th>
                <th>Music</th>
            </tr>
        </thead>
        <tbody>
            {% for music in musics %}
            <tr>
                <td>
                    <a href="{{ url_for('main.youtube', artist=music.artist, song=music.song, singer=singer_user) }}">
                        <img src="{{ url_for('static', filename='images/icon-search.png') }}" height="24" width="24">
                    </a>
                </td>
                <td>{{ music.artist }}</td>
                <td>{{ music.song }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}