<!DOCTYPE html>
<html>

<head>
  <title>KaraTube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/karatube_logo1.jpg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">

  <script>

    // Run the function on page load
    window.onload = enterFullScreenOnLoad;

    function enterFullScreenOnLoad() {
      const docElement = document.documentElement;

      // Check for browser prefixes for Fullscreen API
      if (docElement.requestFullscreen) {
        docElement.requestFullscreen();
      } else if (docElement.webkitRequestFullscreen) { /* Safari */
        docElement.webkitRequestFullscreen();
      } else if (docElement.msRequestFullscreen) { /* IE11 */
        docElement.msRequestFullscreen();
      } else if (docElement.mozRequestFullScreen) { /* Firefox */
        docElement.mozRequestFullScreen();
      } else {
        console.error("Fullscreen API not supported by this browser.");
      }
    }

    $(document).ready(function () {
      getLatestInfo();  // Get initial info on page load
      setInterval(getLatestInfo, 3000); // Check for updates every 3 seconds
    });

    function getLatestInfo() {
      $.ajax({
        url: "/screenupdate",
        success: function (data) {
          var currentSrc = $("#video").attr("src");
          $("#overlay-now").text(data.singer + ' - ' + data.song);
          $("#overlay-queued").text(data.next_singer + ' - ' + data.next_song);
          // Check if current src is empty or not the same as the new URL
          if (currentSrc === "") {
            if (data.video_url !== "") {
              $("#video").show();
              $("#splashImage").hide();
              $("#video").attr("src", data.video_url);
              $("#video")[0].load(); // Load the video
              $("#video")[0].play(); // Start playback
            } else {
              $("#video").hide();
              $("#splashImage").show();
            }
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error("Error:", textStatus, errorThrown);
        }
      });
    }

  </script>
</head>

<body>

  <img id="splashImage" src="{{ url_for('static', filename='images/karatube_background1.jpg') }}"
    alt="Video Placeholder">
  <video id="video" src="" controls autoplay playsinline></video>
  <div id="overlay-singing"> Singing: </div>
  <div id="overlay-now"></div>
  <div id="overlay-next"> Next: </div>
  <div id="overlay-queued"></div>

  <script>
    const video = document.getElementById("video");

    video.addEventListener('ended', () => {
      // Fetch the next video URL from the server using AJAX
      fetch('/queueupdate');
      video.src = "";
    });
  </script>
</body>

</html>