<!DOCTYPE html>
<html>

<head>
  <title>KaraTube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/karatube_logo1.jpg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">

  <script>

    var screenData
    var procStep

    function busyWait(delayInMs) {
      let startTime = Date.now();
      while (Date.now() - startTime < delayInMs) {
        // This loop does nothing but wait
      }
    }

    function getLatestInfo() {
      return new Promise((resolve) => {
        $.ajax({
          url: "/screenupdate",
          success: function (data) {
            screenData = data
            $("#overlay-now").text(screenData.singer + ' - ' + screenData.song);
            $("#overlay-queued").text(screenData.next_singer + ' - ' + screenData.next_song);
            $("#overlay-presents").text(screenData.singer + ' - ' + screenData.song + ' - ' + screenData.artist);
            procStep = 1;
          },
          error: function (jqXHR, textStatus, errorThrown) {
            procStep = 4;
          }
        });
        resolve();
      });
    }

    function setSong() {
      return new Promise((resolve) => {
        var currentSrc = $("#video").attr("src");
        if (procStep === 1) {
          if (currentSrc === "") {
            if (screenData.video_url !== "") {
              procStep = 2;
            }
            else {
              procStep = 4;
            }
          } else {
            procStep = 99;
          }
        }
        resolve();
      });
    }

    function presentationScreen() {
      return new Promise((resolve) => {
        if (procStep === 2) {
          procStep = 3;
          $("#overlay-presents").show();
          $("#splashImage").show();
          $("#video").hide();
          $("#overlay-now").hide();
          $("#overlay-singing").hide();
          $("#overlay-next").hide();
          $("#overlay-queued").hide();
        }
        resolve();
      });
    }

    function playVideo() {
      return new Promise((resolve) => {
        if (procStep === 3) {
          procStep = 99;
          busyWait(5000);
          $("#overlay-presents").hide();
          $("#splashImage").hide();
          $("#video").show();
          $("#video").attr("src", screenData.video_url);
          $("#video")[0].load(); // Load the video
          $("#video")[0].play(); // Start playback
          if (screenData.song === '') {
            $("#overlay-now").hide();
            $("#overlay-singing").hide();
          } else {
            $("#overlay-now").show();
            $("#overlay-singing").show();
          }
          if (screenData.next_song === '') {
            $("#overlay-next").hide();
            $("#overlay-queued").hide();
          } else {
            $("#overlay-next").show();
            $("#overlay-queued").show();
          }
        }
        resolve();
      });
    }

    function splashImage() {
      return new Promise((resolve) => {
        if (procStep === 4) {
          procStep = 99;
          $("#splashImage").show();
          $("#overlay-presents").hide();
          $("#video").hide();
          $("#overlay-now").hide();
          $("#overlay-singing").hide();
          $("#overlay-next").hide();
          $("#overlay-queued").hide();
        }
        resolve();
      });
    }

    // Call fetchData every 3 seconds and chain promises
    const intervalId = setInterval(() => {
      getLatestInfo()
        .then(setSong)
        .then(presentationScreen)
        .then(playVideo)
        .then(splashImage);
    }, 3000);

  </script>
</head>

<body>

  <img id="splashImage" src="{{ url_for('static', filename='images/karatube_background1.jpg') }}"
    alt="Video Placeholder">
  <video id="video" src="" controls autoplay playsinline></video>
  <div id="overlay-presents"></div>
  <div id="overlay-singing"> Singing: </div>
  <div id="overlay-now"></div>
  <div id="overlay-next"> Next: </div>
  <div id="overlay-queued"></div>

  <script>
    const video = document.getElementById("video");

    video.addEventListener('ended', () => {
      // Fetch the next video URL from the server using AJAX
      fetch('/queueupdate');
      video.src = "";
    });
  </script>
</body>

</html>