{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h3 class="title">
        Welcome, {{ current_user.name }} !
    </h3>
    <br>
    <div class="alert alert-primary">
        Actual Room: {{ current_user.roomid }}
    </div> 
    <br>    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert {{ messages[1] }}">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form action="/profile" method="POST">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 text-white">
                    <label for="room_selection">Room:</label>
                </div>
                <div class="col-3 text-white">
                    <select name="room_selection" id="room_selection">
                        {% for roomid in rooms %}
                        <option value="{{ roomid }}">{{ roomid }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 text-white">
                    <p>* Regular users must scan qrcode in karatube screen to change room</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-white">
                    <label for="password">Password:</label>
                </div>
                <div class="col-9 text-white">
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 text-white">
                    <label for="repass">Re-type Password:</label>
                </div>
                <div class="col-9 text-white">
                    <input type="password" class="form-control" id="repass" name="repass">
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-outline-primary">Update</button>
    </form>
</div>
{% endblock %}