{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert {{ messages[1] }}">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <table class="table">
        <thead>
            <tr>
                {% if current_user.roomadm == 'X' %}
                <th></th>
                {% endif #}
                <th>Singer</th>
                <th>Music</th>
                <th>Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for queue_item in queue %}
            <tr>
                {% if current_user.roomadm == 'X' %}
                <td>
                    <a class="clickable-image" id="{{ queue_item.id }}" href="{{ url_for('main.delqueue', queueid=queue_item.id }}">
                        <img src="{{ url_for('static', filename='images/icon-delete.png') }}" height="24" width="24">
                    </a>
                </td>
                {% endif #}
                <td>{{ queue_item.singer }}
                </td>
                <td>{{ queue_item.song }}</td>
                <td>{{ queue_item.artist }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}