{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>Singer</th>
                <th>Artist</th>
                <th>Music</th>
            </tr>
        </thead>
        <tbody>
            {% for queue_item in queue %}
            <tr>
                <td>{{ queue_item.singer }}
                </td>
                <td>{{ queue_item.artist }}</td>
                <td>{{ queue_item.song }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}