{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert {{ messages[1] }}">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <h3 class="title">
        Room {{ current_user.roomid }} control
    </h3>
</div>
<br>
{% if current_user.roomadm == "X" %}
<div class="container mt-3">
    <h3 class="fa fa-align-center" aria-hidden="true">Player Controls</h3>
    <div class="input-group">
        <form method="POST" action="{{ url_for('main.setcommand', command='prev') }}">
            <button type="submit" class="btn btn-primary">
                <img src="{{ url_for('static', filename='images/icon-previous.png') }}" alt="Button image" height="48"
                    width="48">
            </button>
        </form>&nbsp;&nbsp;
        <form method="POST" action="{{ url_for('main.setcommand', command='play') }}">
            <button type="submit" class="btn btn-primary">
                <img src="{{ url_for('static', filename='images/icon-play.png') }}" alt="Button image" height="48"
                    width="48">
            </button>
        </form>&nbsp;&nbsp;
        <form method="POST" action="{{ url_for('main.setcommand', command='pause') }}">
            <button type="submit" class="btn btn-primary">
                <img src="{{ url_for('static', filename='images/icon-pause.png') }}" alt="Button image" height="48"
                    width="48">
            </button>
        </form>&nbsp;&nbsp;
        <form method="POST" action="{{ url_for('main.setcommand', command='next') }}">
            <button type="submit" class="btn btn-primary">
                <img src="{{ url_for('static', filename='images/icon-next.png') }}" alt="Button image" height="48"
                    width="48">
            </button>
        </form>
    </div>
    <br>
    <div class="input-group">
        <button type="button" class="btn btn-primary">
            <img src="{{ url_for('static', filename='images/icon-volumedown.png') }}" height="48" width="48">
        </button>&nbsp;&nbsp;
        <input type="range" id="volume-control" min="0" max="1" step="0.01" value="1">
    </div>
</div>
<script>
    const rangeElement = document.getElementById('volume-control');

    rangeElement.addEventListener('change', async () => {
        const value = rangeElement.value;

        try {
            const response = await fetch('/volumechange', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ rangeValue: value })
            });
        } catch (error) {
        }
    });
</script>
{% endif %}
{% endblock %}