{% extends "base.html" %}
{% block headscript %}
<!-- Include the html5-qrcode library -->
<script src="https://unpkg.com/html5-qrcode"></script>
{% endblock %}
{% block content %}
<div class="container mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form action="/signup" method="POST">
        <div class="mb-3 mt-3">
            <label for="username">User:</label>
            <input type="text" class="form-control" id="userid" name="userid" required>
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="repass">Re-type Password:</label>
            <input type="password" class="form-control" id="repass" name="repass" required>
        </div>
        <div class="mb-3">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <!-- <div style="width: 500px" id="reader"></div> -->
        <div class="mb-3" id="reader"></div>
        <div class="mb-3">
            <input type="hidden" class="form-control" id="roomid" name="roomid" value="" required>
        </div>
        <div class="mb-3">
            <input type="hidden" class="form-control" id="roompass" name="roompass" value="" required>
        </div>
        <button hidden class="btn btn-outline-primary" id="signup">Sign Up</button>
    </form>
</div>
<script>

    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        let roomid = document.getElementById('roomid');
        let roompass = document.getElementById('roompass');
        let signup = document.getElementById("signup");
        let separator = "§";
        let parts = decodedText.split(separator);
        roomid.value = parts[0]
        roompass.value = parts[1]
        html5QrcodeScanner.clear();
        signup.click();
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 200 });
    html5QrcodeScanner.render(onScanSuccess);
</script>
{% endblock %}