{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Video</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for video in videos %}
            <tr>
                <td>
                    <a href="{{ url_for('main.youtubedl', artist=artist, song=song, id=video['id'], image=video['image'], description=video['description']) }}">
                        <img src="{{ url_for('static', filename='images/icon-download.png') }}" height="24" width="24">
                    </a>               
                </td>
                <td>
                    <a href="https://www.youtube.com/watch?v={{ video['id'] }}">
                        <img src="{{ video['thumb'] }}" height="64" width="64">
                    </a>
                </td>
                <td>{{ video['description'] }}</td>
            </tr>
            {% endfor %}
    
        </tbody>
        </table>
    </table>
</div>

{% endblock %}