flask
flask-login
flask-sqlalchemy
yt-dlp
mysql-connector
pymysql
requests 
musicbrainzngs
qrcode
Pillow
youtube-search-python
google-auth 
google-auth-httplib2 
google-auth-oauthlib 
google-api-python-client
