{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container mt-3">
    <form action="{{ url_for('lastfm') }}" method="get">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" id="search_string" placeholder="Artist - Music"
                name="search_string">
        </div>
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
    <br>
    {% if alert == 'E'%}
    <div class="alert alert-danger">
        <strong>Error!</strong> {{ artist }} - {{ music }} fails to dowmload
    </div>
    {% elif alert == 'S'%}
    <div class="alert alert-success">
        <strong>Success!</strong> {{ artist }} - {{ music }} downloaded 
    </div>
    {% elif alert == 'W'%}
    <div class="alert alert-warning">
        <strong>Warnig!</strong> Can't find any music 
    </div>    
    {% elif alert == 'I'%}
    <div class="alert alert-warning">
        <strong>Info!</strong> Enter search data
    </div>    
    {% endif %}
</div>
{% endblock %}