{% extends "base.html" %}

{% block title %}Last FM{% endblock %}

{% block css %}
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        border: 1px solid #ddd;

    }
</style>
{% endblock %}

{% block content %}
<div style="overflow-x:auto;">
    <table>
        <tr>
            <td>Video</td>
            <td>Descrição</td>
        </tr>
        {% for video in videos %}
        <tr>
            <td>
                <a href="{{ url_for('youtubedl', artist=artist, song=song, id=video['id'], image=video['image'], description=video['description']) }}">
                    <img src="{{ video['thumb'] }}" height="64" width="64">
                </a>
            </td>
            <td>{{ video['description'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}